node_modules
public/**
!public/**/
.vscode

# Temporary to avoid Github server timeout on first push

databases/all/*
databases/arcade games/*
databases/pc games/*
mame/**/*

mame/snap/*
mame/marquees/*
mame/flyers/*
mame/artwork/**/*
mame/nvram/**/*
mame/manuals/**/*
mame/samples/**/*

icons/**/*

images/backgrounds/*
images/boxes/*
images/cabinets/*
images/logos/**/*
images/bezels/**/*

sounds/**/*

video/previews/**/*

# Exclude MAME all ROMs and disks
# NOTE: Multiple versions of romsets as assemblies may vary in MAME version

mame/roms/.219/*.zip
mame/roms/.219/**/*.chd

mame/roms/.244/*.zip
mame/roms/.244/**/*.chd

mame/roms/.277/*.zip
mame/roms/.277/**/*.chd

# Exclude all Atari cartridges

mame/roms/.219/a2600/**/*

# Exclude all Atari cartridges

mame/roms/.219/vectrex/**/*

# Exclude all computer games

mame/roms/.219/c64/**/*
mame/roms/.219/apple2/**/*
mame/roms/.219/coco3/**/*

# Exclude all DosBox ROMs

dosbox/roms/**/*.zip

# Free or licensed whitelist

!mame/roms/.219/alienar.zip
!mame/roms/.219/carpolo.zip
!mame/roms/.219/circus.zip
!mame/roms/.219/crash.zip
!mame/roms/.219/fax.zip
!mame/roms/.219/gridlee.zip
!mame/roms/.219/hardhat.zip
!mame/roms/.219/looping.zip
!mame/roms/.219/pong.zip
!mame/roms/.219/pongd.zip
!mame/roms/.219/ripcord.zip
!mame/roms/.219/robby.zip
!mame/roms/.219/robotbwl.zip
!mame/roms/.219/sidetrac.zip
!mame/roms/.219/spectar.zip
!mame/roms/.219/targ.zip
!mame/roms/.219/victory.zip