node_modules
public/**
!public/**/
.vscode

# This ZIP is too big for GitHub (needs LFS)

mame/samples/twotiger.*

# Temporary to avoid Github server timeout on initial pushes

mame/artwork/**/b*.png

mame/manuals/**/*

icons/**/*

images/boxes/**/*
images/cabinets/*

images/logos/**/b*
images/logos/**/c*
images/logos/**/d*
images/logos/**/e*
images/logos/**/f*
images/logos/**/g*
images/logos/**/h*
images/logos/**/i*
images/logos/**/j*
images/logos/**/k*
images/logos/**/l*
images/logos/**/m*
images/logos/**/n*
images/logos/**/o*
images/logos/**/p*
images/logos/**/q*
images/logos/**/r*
images/logos/**/s*

images/logos/a2600/*
images/logos/nes/*


images/bezels/a2600/*
images/bezels/nes/*

video/previews/**/*

# Exclude MAME all ROMs and disks
# NOTE: Multiple versions of romsets as assemblies may vary in MAME version

mame/roms/.219/*
mame/roms/.219/**/*

mame/roms/.244/*
mame/roms/.244/**/*

mame/roms/.277/*
mame/roms/.277/**/*

# Exclude all Atari cartridges

mame/roms/.219/a2600/**/*

# Exclude all Atari cartridges

mame/roms/.219/vectrex/**/*

# Exclude all Astrocade cartridges

mame/roms/.219/astrocde/**/*

# Exclude all computer games

mame/roms/.219/c64/**/*
mame/roms/.219/apple2/**/*
mame/roms/.219/coco3/**/*
mame/roms/.219/trs80m3/**/*

# Exclude all DosBox ROMs

dosbox/roms/**/*.zip

# Free or licensed whitelist

!mame/roms/.219/alienar.zip
!mame/roms/.219/carpolo.zip
!mame/roms/.219/circus.zip
!mame/roms/.219/crash.zip
!mame/roms/.219/fax.zip
!mame/roms/.219/gridlee.zip
!mame/roms/.219/hardhat.zip
!mame/roms/.219/looping.zip
!mame/roms/.219/pong.zip
!mame/roms/.219/pongd.zip
!mame/roms/.219/ripcord.zip
!mame/roms/.219/robby.zip
!mame/roms/.219/robotbwl.zip
!mame/roms/.219/sidetrac.zip
!mame/roms/.219/spectar.zip
!mame/roms/.219/targ.zip
!mame/roms/.219/victory.zip