node_modules
public/**
!public/**/
.vscode

# This one is too big for GitHub (needs LFS)

mame/samples/twotiger.zip

# Temporary to avoid Github server timeout on initial pushes

# TODO: Break up, as there are too many bezel.png files for GitHub to process at once

mame/manuals/**/*

# Exclude all preview videos

video/previews/**/*

# Console systems not in use yet

images/boxes/a2600/*
images/boxes/nes/*

images/logos/a2600/*
images/logos/nes/*

images/bezels/a2600/*
images/bezels/nes/*

# Exclude MAME all ROMs and disks
# NOTE: Multiple versions of romsets as assemblies may vary in MAME version

mame/roms/.219/*
mame/roms/.219/**/*

mame/roms/.244/*
mame/roms/.244/**/*

mame/roms/.277/*
mame/roms/.277/**/*

# Exclude all Atari cartridges

mame/roms/.219/a2600/**/*

# Exclude all Vectrex cartridges

mame/roms/.219/vectrex/**/*

# Exclude all Astrocade cartridges

mame/roms/.219/astrocde/**/*

# Exclude all computer games

mame/roms/.219/c64/**/*
mame/roms/.219/apple2/**/*
mame/roms/.219/coco3/**/*
mame/roms/.219/trs80m3/**/*

# Exclude all DosBox ROMs

dosbox/roms/**/*.zip

# Include free or licensed MAME ROMs

!mame/roms/.219/alienar.zip
!mame/roms/.219/carpolo.zip
!mame/roms/.219/circus.zip
!mame/roms/.219/crash.zip
!mame/roms/.219/fax.zip
!mame/roms/.219/gridlee.zip
!mame/roms/.219/hardhat.zip
!mame/roms/.219/looping.zip
!mame/roms/.219/pong.zip
!mame/roms/.219/pongd.zip
!mame/roms/.219/ripcord.zip
!mame/roms/.219/robby.zip
!mame/roms/.219/robotbwl.zip
!mame/roms/.219/sidetrac.zip
!mame/roms/.219/spectar.zip
!mame/roms/.219/targ.zip
!mame/roms/.219/victory.zip

# ...and their preview videos

!video/previews/alienar.mp4
!video/previews/carpolo.mp4
!video/previews/circus.mp4
!video/previews/crash.mp4
!video/previews/fax.mp4
!video/previews/gridlee.mp4
!video/previews/hardhat.mp4
!video/previews/looping.mp4
!video/previews/pong.mp4
!video/previews/pongd.mp4
!video/previews/ripcord.mp4
!video/previews/robby.mp4
!video/previews/robotbwl.mp4
!video/previews/sidetrac.mp4
!video/previews/spectar.mp4
!video/previews/targ.mp4
!video/previews/victory.mp4